{
  "openapi": "3.0.1",
  "info": {
    "title": "PDF.co",
    "description": "",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.pdf.co/"
    }
  ],
  "tags": [
    {
      "name": "ai_invoice_parser",
      "description": ""
    },
    {
      "name": "barcode",
      "description": ""
    },
    {
      "name": "convert_to_pdf",
      "description": ""
    },
    {
      "name": "document_parser_api",
      "description": ""
    },
    {
      "name": "email",
      "description": ""
    },
    {
      "name": "file",
      "description": ""
    },
    {
      "name": "job",
      "description": ""
    },
    {
      "name": "pdf",
      "description": ""
    },
    {
      "name": "pdf_data_extraction",
      "description": ""
    },
    {
      "name": "pdf_edit",
      "description": ""
    },
    {
      "name": "pdf_to_image",
      "description": ""
    },
    {
      "name": "textsense",
      "description": ""
    },
    {
      "name": "url",
      "description": ""
    },
    {
      "name": "user",
      "description": ""
    },
    {
      "name": "xls",
      "description": ""
    }
  ],
  "paths": {
    "/v1/ai-invoice-parser": {
      "post": {
        "tags": [
          "ai_invoice_parser"
        ],
        "description": "Request AI Invoice parser",
        "operationId": "post_v1_ai-invoice-parser",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "description": "URL of the source PDF file."
                  },
                  "callback": {
                    "type": "string",
                    "description": "URL of the source PDF file."
                  }
                },
                "additionalProperties": false
              }
            }
          },
          "required": false
        },
        "responses": {
          "400": {
            "description": "bad input parameters",
            "content": {}
          },
          "401": {
            "description": "unauthorized",
            "content": {}
          },
          "405": {
            "description": "Timeout error. Input was too large to process in 30 secs, the connection was bad or input file was not available. For links to G Drive, G Docs, Dropbox or similar: they can limit access. To solve put 'cache:' before the link and try again. Also there is PDF.co built-in file storage at https://app.pdf.co/files stable and fast. If you use API directly then try 'async' mode (set 'async' to 'true') so it will create background job. Check the job status with '/job/check?jobId=<jobId>'. For pdf with lot of pages try to specify a page range using 'pages' param (get page count with '/pdf/info' endpoint). If you use Zapier then turn on 'Autoreply' to autoretry.",
            "content": {}
          },
          "408": {
            "description": "Timeout error. Input was too large to process in 30 secs, the connection was bad or input file was not available. For links to G Drive, G Docs, Dropbox or similar: they can limit access. To solve put 'cache:' before the link and try again. Also there is PDF.co built-in file storage at https://app.pdf.co/files stable and fast. If you use API directly then try 'async' mode (set 'async' to 'true') so it will create background job. Check the job status with '/job/check?jobId=<jobId>'. For pdf with lot of pages try to specify a page range using 'pages' param (get page count with '/pdf/info' endpoint). If you use Zapier then turn on 'Autoreply' to autoretry.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/v1/barcode/generate": {
      "get": {
        "tags": [
          "barcode"
        ],
        "description": "Generate high quality printable and scannable barcodes as images or PDF. All popular types are supported from Code 39, Code 128 to QR Code, Datamatrix and PDF417.",
        "operationId": "get_v1_barcode_generate",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "Filename for the generated image.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "async",
            "in": "query",
            "description": "Runs processing asynchronously. Returns Use <code>JobId</code> that you may use with <code>/job/check</code> to check state of the processing (possible states: <code>working</code>, <code>failed</code>, <code>aborted</code> and <code>success</code>)",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false",
                "true",
                "false",
                "TRUE",
                "FALSE"
              ]
            }
          },
          {
            "name": "value",
            "in": "query",
            "description": "Barcode value.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Barcode type. Valid values: <code>Code128</code>, <code>Code39</code>, <code>Postnet</code>, <code>UPCA</code>, <code>EAN8</code>, <code>ISBN</code>, <code>Codabar</code>, <code>I2of5</code>, <code>Code93</code>, <code>EAN13</code>, <code>JAN13</code>, <code>Bookland</code>, <code>UPCE</code>, <code>PDF417</code>, <code>PDF417Truncated</code>, <code>DataMatrix</code>, <code>QRCode</code>, <code>Aztec</code>, <code>Planet</code>, <code>EAN128</code>, <code>GS1_128</code>, <code>USPSSackLabel</code>, <code>USPSTrayLabel</code>, <code>DeutschePostIdentcode</code>, <code>DeutschePostLeitcode</code>, <code>Numly</code>, <code>PZN</code>, <code>OpticalProduct</code>, <code>SwissPostParcel</code>, <code>RoyalMail</code>, <code>DutchKix</code>, <code>SingaporePostalCode</code>, <code>EAN2</code>, <code>EAN5</code>, <code>EAN14</code>, <code>MacroPDF417</code>, <code>MicroPDF417</code>, <code>GS1_DataMatrix</code>, <code>Telepen</code>, <code>IntelligentMail</code>, <code>GS1_DataBar_Omnidirectional</code>, <code>GS1_DataBar_Truncated, <code>GS1_DataBar_Stacked</code>, <code>GS1_DataBar_Stacked_Omnidirectional</code>, <code>GS1_DataBar_Limited, <code>GS1_DataBar_Expanded</code>, <code>GS1_DataBar_Expanded_Stacked</code>, <code>MaxiCode</code>, <code>Plessey</code>, <code>MSI</code>, <code>ITF14</code>, <code>GTIN12</code>, <code>GTIN8</code>, <code>GTIN13</code>, <code>GTIN14</code>.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timeout",
            "in": "query",
            "description": "Timeout for output links in seconds",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "expiration",
            "in": "query",
            "description": "expiration for output links (if any) in minutes. default expiration is 1 hour.",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "inline",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false",
                "true",
                "false",
                "TRUE",
                "FALSE"
              ]
            }
          },
          {
            "name": "decorationimage",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "profiles",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "bad input parameters",
            "content": {}
          },
          "401": {
            "description": "unauthorized",
            "content": {}
          },
          "403": {
            "description": "not enough credits",
            "content": {}
          },
          "405": {
            "description": "Timeout error. Input was too large to process in 30 secs, the connection was bad or input file was not available. For links to G Drive, G Docs, Dropbox or similar: they can limit access. To solve put 'cache:' before the link and try again. Also there is PDF.co built-in file storage at https://app.pdf.co/files stable and fast. If you use API directly then try 'async' mode (set 'async' to 'true') so it will create background job. Check the job status with '/job/check?jobId=<jobId>'. For pdf with lot of pages try to specify a page range using 'pages' param (get page count with '/pdf/info' endpoint). If you use Zapier then turn on 'Autoreply' to autoretry.",
            "content": {}
          },
          "408": {
            "description": "Timeout error. Input was too large to process in 30 secs, the connection was bad or input file was not available. For links to G Drive, G Docs, Dropbox or similar: they can limit access. To solve put 'cache:' before the link and try again. Also there is PDF.co built-in file storage at https://app.pdf.co/files stable and fast. If you use API directly then try 'async' mode (set 'async' to 'true') so it will create background job. Check the job status with '/job/check?jobId=<jobId>'. For pdf with lot of pages try to specify a page range using 'pages' param (get page count with '/pdf/info' endpoint). If you use Zapier then turn on 'Autoreply' to autoretry.",
            "content": {}
          }
        }
      },
      "post": {
        "tags": [
          "barcode"
        ],
        "description": "Generate high quality printable and scannable barcodes as images or PDF. All popular types are supported from Code 39, Code 128 to QR Code, Datamatrix and PDF417.",
        "operationId": "post_v1_barcode_generate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Filename for the generated image."
                  },
                  "async": {
                    "type": "string",
                    "description": "Runs processing asynchronously. Returns Use <code>JobId</code> that you may use with <code>/job/check</code> to check state of the processing (possible states: <code>working</code>, <code>failed</code>, <code>aborted</code> and <code>success</code>)",
                    "enum": [
                      "true",
                      "false",
                      "TRUE",
                      "FALSE"
                    ]
                  },
                  "value": {
                    "type": "string",
                    "description": "Barcode value."
                  },
                  "type": {
                    "type": "string",
                    "description": "Barcode type. Valid values: <code>Code128</code>, <code>Code39</code>, <code>Postnet</code>, <code>UPCA</code>, <code>EAN8</code>, <code>ISBN</code>, <code>Codabar</code>, <code>I2of5</code>, <code>Code93</code>, <code>EAN13</code>, <code>JAN13</code>, <code>Bookland</code>, <code>UPCE</code>, <code>PDF417</code>, <code>PDF417Truncated</code>, <code>DataMatrix</code>, <code>QRCode</code>, <code>Aztec</code>, <code>Planet</code>, <code>EAN128</code>, <code>GS1_128</code>, <code>USPSSackLabel</code>, <code>USPSTrayLabel</code>, <code>DeutschePostIdentcode</code>, <code>DeutschePostLeitcode</code>, <code>Numly</code>, <code>PZN</code>, <code>OpticalProduct</code>, <code>SwissPostParcel</code>, <code>RoyalMail</code>, <code>DutchKix</code>, <code>SingaporePostalCode</code>, <code>EAN2</code>, <code>EAN5</code>, <code>EAN14</code>, <code>MacroPDF417</code>, <code>MicroPDF417</code>, <code>GS1_DataMatrix</code>, <code>Telepen</code>, <code>IntelligentMail</code>, <code>GS1_DataBar_Omnidirectional</code>, <code>GS1_DataBar_Truncated, <code>GS1_DataBar_Stacked</code>, <code>GS1_DataBar_Stacked_Omnidirectional</code>, <code>GS1_DataBar_Limited, <code>GS1_DataBar_Expanded</code>, <code>GS1_DataBar_Expanded_Stacked</code>, <code>MaxiCode</code>, <code>Plessey</code>, <code>MSI</code>, <code>ITF14</code>, <code>GTIN12</code>, <code>GTIN8</code>, <code>GTIN13</code>, <code>GTIN14</code>."
                  },
                  "timeout": {
                    "type": "number",
                    "description": "Timeout for output links in seconds"
                  },
                  "expiration": {
                    "type": "number",
                    "description": "expiration for output links (if any) in minutes. default expiration is 1 hour."
                  },
                  "inline": {
                    "type": "string",
                    "enum": [
                      "true",
                      "false",
                      "TRUE",
                      "FALSE"
                    ]
                  },
                  "decorationimage": {
                    "type": "string"
                  },
                  "profiles": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          },
          "required": false
        },
        "responses": {
          "400": {
            "description": "bad input parameters",
            "content": {}
          },
          "401": {
            "description": "unauthorized",
            "content": {}
          },
          "403": {
            "description": "not enough credits",
            "content": {}
          },
          "405": {
            "description": "Timeout error. Input was too large to process in 30 secs, the connection was bad or input file was not available. For links to G Drive, G Docs, Dropbox or similar: they can limit access. To solve put 'cache:' before the link and try again. Also there is PDF.co built-in file storage at https://app.pdf.co/files stable and fast. If you use API directly then try 'async' mode (set 'async' to 'true') so it will create background job. Check the job status with '/job/check?jobId=<jobId>'. For pdf with lot of pages try to specify a page range using 'pages' param (get page count with '/pdf/info' endpoint). If you use Zapier then turn on 'Autoreply' to autoretry.",
            "content": {}
          },
          "408": {
            "description": "Timeout error. Input was too large to process in 30 secs, the connection was bad or input file was not available. For links to G Drive, G Docs, Dropbox or similar: they can limit access. To solve put 'cache:' before the link and try again. Also there is PDF.co built-in file storage at https://app.pdf.co/files stable and fast. If you use API directly then try 'async' mode (set 'async' to 'true') so it will create background job. Check the job status with '/job/check?jobId=<jobId>'. For pdf with lot of pages try to specify a page range using 'pages' param (get page count with '/pdf/info' endpoint). If you use Zapier then turn on 'Autoreply' to autoretry.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/v1/barcode/read/from/url": {
      "get": {
        "tags": [
          "barcode"
        ],
        "description": "Read barcodes from images, tiff, pdf documents, scanned documents. All popular types of barcodes are supported from Code 39, Code 128 to QR Code, Datamatrix and PDF417. Supports noisy and damaged barcodes, scans, documents.",
        "operationId": "get_v1_barcode_read_from_url",
        "parameters": [
          {
            "name": "async",
            "in": "query",
            "description": "Runs processing asynchronously. Returns Use <code>JobId</code> that you may use with <code>/job/check</code> to check state of the processing (possible states: <code>working</code>, <code>failed</code>, <code>aborted</code> and <code>success</code>)",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false",
                "true",
                "false",
                "TRUE",
                "FALSE"
              ]
            }
          },
          {
            "name": "types",
            "in": "query",
            "description": "Comma-separated list of barcode types to decode. Valid types: <code>AustralianPostCode</code>, <code>Aztec</code>, <code>CircularI2of5</code>, <code>Codabar</code>, <code>CodablockF</code>, <code>Code128</code>, <code>Code16K</code>, <code>Code39</code>, <code>Code39Extended</code>, <code>Code39Mod43</code>, <code>Code39Mod43Extended</code>, <code>Code93</code>, <code>DataMatrix</code>, <code>EAN13</code>, <code>EAN2</code>, <code>EAN5</code>, <code>EAN8</code>, <code>GS1</code>, <code>GS1DataBarExpanded</code>, <code>GS1DataBarExpandedStacked</code>, <code>GS1DataBarLimited</code>, <code>GS1DataBarOmnidirectional</code>, <code>GS1DataBarStacked</code>, <code>GTIN12</code>, <code>GTIN13</code>, <code>GTIN14</code>, <code>GTIN8</code>, <code>IntelligentMail</code>, <code>Interleaved2of5</code>, <code>ITF14</code>, <code>MaxiCode</code>, <code>MICR</code>, <code>MicroPDF</code>, <code>MSI</code>, <code>PatchCode</code>, <code>PDF417</code>, <code>Pharmacode</code>, <code>PostNet</code>, <code>PZN</code>, <code>QRCode</code>, <code>RoyalMail</code>, <code>RoyalMailKIX</code>, <code>Trioptic</code>, <code>UPCA</code>, <code>UPCE</code>, <code>UPU</code>.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "file",
            "in": "query",
            "description": "Source barcodes file.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "url",
            "in": "query",
            "description": "URL of the image or pdf file to decode barcodes from.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pages",
            "in": "query",
            "description": "Comma-separated list of page indices (or ranges) to process. IMPORTANT: the very first page starts at <code>0</code> (zero). To set a range use the dash <code>-</code>, for example: <code>0,2-5,7-</code>. To set a range from index to the last page use range like this: <code>2-</code> (from page #3 as the index starts at zero and till the of the document). For ALL pages just leave this param empty. Example: <code>0,2-5,7-</code> means first page, then 3rd page to 6th page, and then  the range from 8th (index = <code>7</code>) page till the end of the document.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timeout",
            "in": "query",
            "description": "Timeout for output links in seconds",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "profiles",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "httpusername",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "httppassword",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "bad input parameters",
            "content": {}
          },
          "401": {
            "description": "unauthorized",
            "content": {}
          },
          "403": {
            "description": "not enough credits",
            "content": {}
          },
          "405": {
            "description": "Timeout error. Input was too large to process in 30 secs, the connection was bad or input file was not available. For links to G Drive, G Docs, Dropbox or similar: they can limit access. To solve put 'cache:' before the link and try again. Also there is PDF.co built-in file storage at https://app.pdf.co/files stable and fast. If you use API directly then try 'async' mode (set 'async' to 'true') so it will create background job. Check the job status with '/job/check?jobId=<jobId>'. For pdf with lot of pages try to specify a page range using 'pages' param (get page count with '/pdf/info' endpoint). If you use Zapier then turn on 'Autoreply' to autoretry.",
            "content": {}
          },
          "408": {
            "description": "Timeout error. Input was too large to process in 30 secs, the connection was bad or input file was not available. For links to G Drive, G Docs, Dropbox or similar: they can limit access. To solve put 'cache:' before the link and try again. Also there is PDF.co built-in file storage at https://app.pdf.co/files stable and fast. If you use API directly then try 'async' mode (set 'async' to 'true') so it will create background job. Check the job status with '/job/check?jobId=<jobId>'. For pdf with lot of pages try to specify a page range using 'pages' param (get page count with '/pdf/info' endpoint). If you use Zapier then turn on 'Autoreply' to autoretry.",
            "content": {}
          }
        }
      },
      "post": {
        "tags": [
          "barcode"
        ],
        "description": "Read barcodes from images, tiff, pdf documents, scanned documents. All popular types of barcodes are supported from Code 39, Code 128 to QR Code, Datamatrix and PDF417. Supports noisy and damaged barcodes, scans, documents.",
        "operationId": "post_v1_barcode_read_from_url",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "async": {
                    "type": "string",
                    "description": "Runs processing asynchronously. Returns Use <code>JobId</code> that you may use with <code>/job/check</code> to check state of the processing (possible states: <code>working</code>, <code>failed</code>, <code>aborted</code> and <code>success</code>)",
                    "enum": [
                      "true",
                      "false",
                      "TRUE",
                      "FALSE"
                    ]
                  },
                  "types": {
                    "type": "string",
                    "description": "Comma-separated list of barcode types to decode. Valid types: <code>AustralianPostCode</code>, <code>Aztec</code>, <code>CircularI2of5</code>, <code>Codabar</code>, <code>CodablockF</code>, <code>Code128</code>, <code>Code16K</code>, <code>Code39</code>, <code>Code39Extended</code>, <code>Code39Mod43</code>, <code>Code39Mod43Extended</code>, <code>Code93</code>, <code>DataMatrix</code>, <code>EAN13</code>, <code>EAN2</code>, <code>EAN5</code>, <code>EAN8</code>, <code>GS1</code>, <code>GS1DataBarExpanded</code>, <code>GS1DataBarExpandedStacked</code>, <code>GS1DataBarLimited</code>, <code>GS1DataBarOmnidirectional</code>, <code>GS1DataBarStacked</code>, <code>GTIN12</code>, <code>GTIN13</code>, <code>GTIN14</code>, <code>GTIN8</code>, <code>IntelligentMail</code>, <code>Interleaved2of5</code>, <code>ITF14</code>, <code>MaxiCode</code>, <code>MICR</code>, <code>MicroPDF</code>, <code>MSI</code>, <code>PatchCode</code>, <code>PDF417</code>, <code>Pharmacode</code>, <code>PostNet</code>, <code>PZN</code>, <code>QRCode</code>, <code>RoyalMail</code>, <code>RoyalMailKIX</code>, <code>Trioptic</code>, <code>UPCA</code>, <code>UPCE</code>, <code>UPU</code>."
                  },
                  "file": {
                    "type": "string",
                    "description": "Source barcodes file."
                  },
                  "url": {
                    "type": "string",
                    "description": "URL of the image or pdf file to decode barcodes from."
                  },
                  "pages": {
                    "type": "string",
                    "description": "Comma-separated list of page indices (or ranges) to process. IMPORTANT: the very first page starts at <code>0</code> (zero). To set a range use the dash <code>-</code>, for example: <code>0,2-5,7-</code>. To set a range from index to the last page use range like this: <code>2-</code> (from page #3 as the index starts at zero and till the of the document). For ALL pages just leave this param empty. Example: <code>0,2-5,7-</code> means first page, then 3rd page to 6th page, and then  the range from 8th (index = <code>7</code>) page till the end of the document."
                  },
                  "timeout": {
                    "type": "number",
                    "description": "Timeout for output links in seconds"
                  },
                  "profiles": {
                    "type": "string"
                  },
                  "httpusername": {
                    "type": "string"
                  },
                  "httppassword": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          },
          "required": false
        },
        "responses": {
          "400": {
            "description": "bad input parameters",
            "content": {}
          },
          "401": {
            "description": "unauthorized",
            "content": {}
          },
          "403": {
            "description": "not enough credits",
            "content": {}
          },
          "405": {
            "description": "Timeout error. Input was too large to process in 30 secs, the connection was bad or input file was not available. For links to G Drive, G Docs, Dropbox or similar: they can limit access. To solve put 'cache:' before the link and try again. Also there is PDF.co built-in file storage at https://app.pdf.co/files stable and fast. If you use API directly then try 'async' mode (set 'async' to 'true') so it will create background job. Check the job status with '/job/check?jobId=<jobId>'. For pdf with lot of pages try to specify a page range using 'pages' param (get page count with '/pdf/info' endpoint). If you use Zapier then turn on 'Autoreply' to autoretry.",
            "content": {}
          },
          "408": {
            "description": "Timeout error. Input was too large to process in 30 secs, the connection was bad or input file was not available. For links to G Drive, G Docs, Dropbox or similar: they can limit access. To solve put 'cache:' before the link and try again. Also there is PDF.co built-in file storage at https://app.pdf.co/files stable and fast. If you use API directly then try 'async' mode (set 'async' to 'true') so it will create background job. Check the job status with '/job/check?jobId=<jobId>'. For pdf with lot of pages try to specify a page range using 'pages' param (get page count with '/pdf/info' endpoint). If you use Zapier then turn on 'Autoreply' to autoretry.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/v1/xls/convert/to/pdf": {
      "get": {
        "tags": [
          "convert_to_pdf"
        ],
        "description": "Convert XLS, XLSX, CSV spreadsheets into PDF",
        "operationId": "get_v1_xls_convert_to_pdf",
        "parameters": [
          {
            "name": "async",
            "in": "query",
            "description": "Runs processing asynchronously. Returns Use <code>JobId</code> that you may use with <code>/job/check</code> to check state of the processing (possible states: <code>working</code>, <code>failed</code>, <code>aborted</code> and <code>success</code>)",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false",
                "true",
                "false",
                "TRUE",
                "FALSE"
              ]
            }
          },
          {
            "name": "file",
            "in": "query",
            "description": "Source PDF file.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "url",
            "in": "query",
            "description": "URL of the source PDF file.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "File name for generated output.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "worksheetindex",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "autosize",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false",
                "true",
                "false",
                "TRUE",
                "FALSE"
              ]
            }
          },
          {
            "name": "profiles",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expiration",
            "in": "query",
            "description": "expiration for output links (if any) in minutes. default expiration is 1 hour.",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "httpusername",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "httppassword",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "bad input parameters",
            "content": {}
          },
          "401": {
            "description": "unauthorized",
            "content": {}
          },
          "403": {
            "description": "not enough credits",
            "content": {}
          },
          "405": {
            "description": "Timeout error. Input was too large to process in 30 secs, the connection was bad or input file was not available. For links to G Drive, G Docs, Dropbox or similar: they can limit access. To solve put 'cache:' before the link and try again. Also there is PDF.co built-in file storage at https://app.pdf.co/files stable and fast. If you use API directly then try 'async' mode (set 'async' to 'true') so it will create background job. Check the job status with '/job/check?jobId=<jobId>'. For pdf with lot of pages try to specify a page range using 'pages' param (get page count with '/pdf/info' endpoint). If you use Zapier then turn on 'Autoreply' to autoretry.",
            "content": {}
          },
          "408": {
            "description": "Timeout error. Input was too large to process in 30 secs, the connection was bad or input file was not available. For links to G Drive, G Docs, Dropbox or similar: they can limit access. To solve put 'cache:' before the link and try again. Also there is PDF.co built-in file storage at https://app.pdf.co/files stable and fast. If you use API directly then try 'async' mode (set 'async' to 'true') so it will create background job. Check the job status with '/job/check?jobId=<jobId>'. For pdf with lot of pages try to specify a page range using 'pages' param (get page count with '/pdf/info' endpoint). If you use Zapier then turn on 'Autoreply' to autoretry.",
            "content": {}
          }
        }
      },
      "post": {
        "tags": [
          "convert_to_pdf"
        ],
        "description": "Convert XLS, XLSX, CSV spreadsheets into PDF",
        "operationId": "post_v1_xls_convert_to_pdf",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "async": {
                    "type": "string",
                    "description": "Runs processing asynchronously. Returns Use <code>JobId</code> that you may use with <code>/job/check</code> to check state of the processing (possible states: <code>working</code>, <code>failed</code>, <code>aborted</code> and <code>success</code>)",
                    "enum": [
                      "true",
                      "false",
                      "TRUE",
                      "FALSE"
                    ]
                  },
                  "file": {
                    "type": "string",
                    "description": "Source PDF file."
                  },
                  "url": {
                    "type": "string",
                    "description": "URL of the source PDF file."
                  },
                  "name": {
                    "type": "string",
                    "description": "File name for generated output."
                  },
                  "worksheetindex": {
                    "type": "string"
                  },
                  "autosize": {
                    "type": "string",
                    "enum": [
                      "true",
                      "false",
                      "TRUE",
                      "FALSE"
                    ]
                  },
                  "profiles": {
                    "type": "string"
                  },
                  "expiration": {
                    "type": "number",
                    "description": "expiration for output links (if any) in minutes. default expiration is 1 hour."
                  },
                  "httpusername": {
                    "type": "string"
                  },
                  "httppassword": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          },
          "required": false
        },
        "responses": {
          "400": {
            "description": "bad input parameters",
            "content": {}
          },
          "401": {
            "description": "unauthorized",
            "content": {}
          },
          "403": {
            "description": "not enough credits",
            "content": {}
          },
          "405": {
            "description": "Timeout error. Input was too large to process in 30 secs, the connection was bad or input file was not available. For links to G Drive, G Docs, Dropbox or similar: they can limit access. To solve put 'cache:' before the link and try again. Also there is PDF.co built-in file storage at https://app.pdf.co/files stable and fast. If you use API directly then try 'async' mode (set 'async' to 'true') so it will create background job. Check the job status with '/job/check?jobId=<jobId>'. For pdf with lot of pages try to specify a page range using 'pages' param (get page count with '/pdf/info' endpoint). If you use Zapier then turn on 'Autoreply' to autoretry.",
            "content": {}
          },
          "408": {
            "description": "Timeout error. Input was too large to process in 30 secs, the connection was bad or input file was not available. For links to G Drive, G Docs, Dropbox or similar: they can limit access. To solve put 'cache:' before the link and try again. Also there is PDF.co built-in file storage at https://app.pdf.co/files stable and fast. If you use API directly then try 'async' mode (set 'async' to 'true') so it will create background job. Check the job status with '/job/check?jobId=<jobId>'. For pdf with lot of pages try to specify a page range using 'pages' param (get page count with '/pdf/info' endpoint). If you use Zapier then turn on 'Autoreply' to autoretry.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/v1/pdf/convert/from/csv": {
      "get": {
        "tags": [
          "convert_to_pdf"
        ],
        "description": "Convert CSV, XLS, XLSX to PDF conversion.",
        "operationId": "get_v1_pdf_convert_from_csv",
        "parameters": [
          {
            "name": "async",
            "in": "query",
            "description": "Runs processing asynchronously. Returns Use <code>JobId</code> that you may use with <code>/job/check</code> to check state of the processing (possible states: <code>working</code>, <code>failed</code>, <code>aborted</code> and <code>success</code>)",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false",
                "true",
                "false",
                "TRUE",
                "FALSE"
              ]
            }
          },
          {
            "name": "file",
            "in": "query",
            "description": "Source PDF file.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "url",
            "in": "query",
            "description": "URL of the source PDF file.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "File name for generated output.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "profiles",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expiration",
            "in": "query",
            "description": "expiration for output links (if any) in minutes. default expiration is 1 hour.",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "httpusername",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "httppassword",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "bad input parameters",
            "content": {}
          },
          "401": {
            "description": "unauthorized",
            "content": {}
          },
          "403": {
            "description": "not enough credits",
            "content": {}
          },
          "405": {
            "description": "Timeout error. Input was too large to process in 30 secs, the connection was bad or input file was not available. For links to G Drive, G Docs, Dropbox or similar: they can limit access. To solve put 'cache:' before the link and try again. Also there is PDF.co built-in file storage at https://app.pdf.co/files stable and fast. If you use API directly then try 'async' mode (set 'async' to 'true') so it will create background job. Check the job status with '/job/check?jobId=<jobId>'. For pdf with lot of pages try to specify a page range using 'pages' param (get page count with '/pdf/info' endpoint). If you use Zapier then turn on 'Autoreply' to autoretry.",
            "content": {}
          },
          "408": {
            "description": "Timeout error. Input was too large to process in 30 secs, the connection was bad or input file was not available. For links to G Drive, G Docs, Dropbox or similar: they can limit access. To solve put 'cache:' before the link and try again. Also there is PDF.co built-in file storage at https://app.pdf.co/files stable and fast. If you use API directly then try 'async' mode (set 'async' to 'true') so it will create background job. Check the job status with '/job/check?jobId=<jobId>'. For pdf with lot of pages try to specify a page range using 'pages' param (get page count with '/pdf/info' endpoint). If you use Zapier then turn on 'Autoreply' to autoretry.",
            "content": {}
          }
        }
      },
      "post": {
        "tags": [
          "convert_to_pdf"
        ],
        "description": "Convert CSV, XLS, XLSX to PDF conversion.",
        "operationId": "post_v1_pdf_convert_from_csv",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "async": {
                    "type": "string",
                    "description": "Runs processing asynchronously. Returns Use <code>JobId</code> that you may use with <code>/job/check</code> to check state of the processing (possible states: <code>working</code>, <code>failed</code>, <code>aborted</code> and <code>success</code>)",
                    "enum": [
                      "true",
                      "false",
                      "TRUE",
                      "FALSE"
                    ]
                  },
                  "file": {
                    "type": "string",
                    "description": "Source PDF file."
                  },
                  "url": {
                    "type": "string",
                    "description": "URL of the source PDF file."
                  },
                  "name": {
                    "type": "string",
                    "description": "File name for generated output."
                  },
                  "profiles": {
                    "type": "string"
                  },
                  "expiration": {
                    "type": "number",
                    "description": "expiration for output links (if any) in minutes. default expiration is 1 hour."
                  },
                  "httpusername": {
                    "type": "string"
                  },
                  "httppassword": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          },
          "required": false
        },
        "responses": {
          "400": {
            "description": "bad input parameters",
            "content": {}
          },
          "401": {
            "description": "unauthorized",
            "content": {}
          },
          "403": {
            "description": "not enough credits",
            "content": {}
          },
          "405": {
            "description": "Timeout error. Input was too large to process in 30 secs, the connection was bad or input file was not available. For links to G Drive, G Docs, Dropbox or similar: they can limit access. To solve put 'cache:' before the link and try again. Also there is PDF.co built-in file storage at https://app.pdf.co/files stable and fast. If you use API directly then try 'async' mode (set 'async' to 'true') so it will create background job. Check the job status with '/job/check?jobId=<jobId>'. For pdf with lot of pages try to specify a page range using 'pages' param (get page count with '/pdf/info' endpoint). If you use Zapier then turn on 'Autoreply' to autoretry.",
            "content": {}
          },
          "408": {
            "description": "Timeout error. Input was too large to process in 30 secs, the connection was bad or input file was not available. For links to G Drive, G Docs, Dropbox or similar: they can limit access. To solve put 'cache:' before the link and try again. Also there is PDF.co built-in file storage at https://app.pdf.co/files stable and fast. If you use API directly then try 'async' mode (set 'async' to 'true') so it will create background job. Check the job status with '/job/check?jobId=<jobId>'. For pdf with lot of pages try to specify a page range using 'pages' param (get page count with '/pdf/info' endpoint). If you use Zapier then turn on 'Autoreply' to autoretry.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/v1/pdf/convert/from/doc": {
      "get": {
        "tags": [
          "convert_to_pdf"
        ],
        "description": "Convert DOC, DOCX, RTF, TXT, XPS files into PDF.",
        "operationId": "get_v1_pdf_convert_from_doc",
        "parameters": [
          {
            "name": "async",
            "in": "query",
            "description": "Runs processing asynchronously. Returns Use <code>JobId</code> that you may use with <code>/job/check</code> to check state of the processing (possible states: <code>working</code>, <code>failed</code>, <code>aborted</code> and <code>success</code>)",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false",
                "true",
                "false",
                "TRUE",
                "FALSE"
              ]
            }
          },
          {
            "name": "file",
            "in": "query",
            "description": "Source PDF file.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "url",
            "in": "query",
            "description": "URL of the source PDF file.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "File name for generated output.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "profiles",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expiration",
            "in": "query",
            "description": "expiration for output links (if any) in minutes. default expiration is 1 hour.",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "httpusername",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "httppassword",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "bad input parameters",
            "content": {}
          },
          "401": {
            "description": "unauthorized",
            "content": {}
          },
          "403": {
            "description": "not enough credits",
            "content": {}
          },
          "405": {
            "description": "Timeout error. Input was too large to process in 30 secs, the connection was bad or input file was not available. For links to G Drive, G Docs, Dropbox or similar: they can limit access. To solve put 'cache:' before the link and try again. Also there is PDF.co built-in file storage at https://app.pdf.co/files stable and fast. If you use API directly then try 'async' mode (set 'async' to 'true') so it will create background job. Check the job status with '/job/check?jobId=<jobId>'. For pdf with lot of pages try to specify a page range using 'pages' param (get page count with '/pdf/info' endpoint). If you use Zapier then turn on 'Autoreply' to autoretry.",
            "content": {}
          },
          "408": {
            "description": "Timeout error. Input was too large to process in 30 secs, the connection was bad or input file was not available. For links to G Drive, G Docs, Dropbox or similar: they can limit access. To solve put 'cache:' before the link and try again. Also there is PDF.co built-in file storage at https://app.pdf.co/files stable and fast. If you use API directly then try 'async' mode (set 'async' to 'true') so it will create background job. Check the job status with '/job/check?jobId=<jobId>'. For pdf with lot of pages try to specify a page range using 'pages' param (get page count with '/pdf/info' endpoint). If you use Zapier then turn on 'Autoreply' to autoretry.",
            "content": {}
          }
        }
      },
      "post": {
        "tags": [
          "convert_to_pdf"
        ],
        "description": "Convert DOC, DOCX, RTF, TXT, XPS files into PDF.",
        "operationId": "post_v1_pdf_convert_from_doc",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "async": {
                    "type": "string",
                    "description": "Runs processing asynchronously. Returns Use <code>JobId</code> that you may use with <code>/job/check</code> to check state of the processing (possible states: <code>working</code>, <code>failed</code>, <code>aborted</code> and <code>success</code>)",
                    "enum": [
                      "true",
                      "false",
                      "TRUE",
                      "FALSE"
                    ]
                  },
                  "file": {
                    "type": "string",
                    "description": "Source PDF file."
                  },
                  "url": {
                    "type": "string",
                    "description": "URL of the source PDF file."
                  },
                  "name": {
                    "type": "string",
                    "description": "File name for generated output."
                  },
                  "profiles": {
                    "type": "string"
                  },
                  "expiration": {
                    "type": "number",
                    "description": "expiration for output links (if any) in minutes. default expiration is 1 hour."
                  },
                  "httpusername": {
                    "type": "string"
                  },
                  "httppassword": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          },
          "required": false
        },
        "responses": {
          "400": {
            "description": "bad input parameters",
            "content": {}
          },
          "401": {
            "description": "unauthorized",
            "content": {}
          },
          "403": {
            "description": "not enough credits",
            "content": {}
          },
          "405": {
            "description": "Timeout error. Input was too large to process in 30 secs, the connection was bad or input file was not available. For links to G Drive, G Docs, Dropbox or similar: they can limit access. To solve put 'cache:' before the link and try again. Also there is PDF.co built-in file storage at https://app.pdf.co/files stable and fast. If you use API directly then try 'async' mode (set 'async' to 'true') so it will create background job. Check the job status with '/job/check?jobId=<jobId>'. For pdf with lot of pages try to specify a page range using 'pages' param (get page count with '/pdf/info' endpoint). If you use Zapier then turn on 'Autoreply' to autoretry.",
            "content": {}
          },
          "408": {
            "description": "Timeout error. Input was too large to process in 30 secs, the connection was bad or input file was not available. For links to G Drive, G Docs, Dropbox or similar: they can limit access. To solve put 'cache:' before the link and try again. Also there is PDF.co built-in file storage at https://app.pdf.co/files stable and fast. If you use API directly then try 'async' mode (set 'async' to 'true') so it will create background job. Check the job status with '/job/check?jobId=<jobId>'. For pdf with lot of pages try to specify a page range using 'pages' param (get page count with '/pdf/info' endpoint). If you use Zapier then turn on 'Autoreply' to autoretry.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/v1/pdf/convert/from/html": {
      "get": {
        "tags": [
          "convert_to_pdf"
        ],
        "description": "Convert HTML code snippet into full featured PDF.",
        "operationId": "get_v1_pdf_convert_from_html",
        "parameters": [
          {
            "name": "async",
            "in": "query",
            "description": "Runs processing asynchronously. Returns Use <code>JobId</code> that you may use with <code>/job/check</code> to check state of the processing (possible states: <code>working</code>, <code>failed</code>, <code>aborted</code> and <code>success</code>)",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false",
                "true",
                "false",
                "TRUE",
                "FALSE"
              ]
            }
          },
          {
            "name": "templatedata",
            "in": "query",
            "description": "please set to string converted from JSON with data for Mustache template or leave empty if no template is used",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "html",
            "in": "query",
            "description": "HTML code.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "File name for generated output.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "margins",
            "in": "query",
            "description": "Page margins.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "papersize",
            "in": "query",
            "description": "Paper size.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orientation",
            "in": "query",
            "description": "Page orientation.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "printbackground",
            "in": "query",
            "description": "Defines whether to print background images or not.",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false",
                "true",
                "false",
                "TRUE",
                "FALSE"
              ]
            }
          },
          {
            "name": "header",
            "in": "query",
            "description": "Header template.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "footer",
            "in": "query",
            "description": "Footer template.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customscript",
            "in": "query",
            "description": "custom script to execute on page load",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mediatype",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "donotwaitfullload",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false",
                "true",
                "false",
                "TRUE",
                "FALSE"
              ]
            }
          },
          {
            "name": "profiles",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expiration",
            "in": "query",
            "description": "expiration for output links (if any) in minutes. default expiration is 1 hour.",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "templateid",
            "in": "query",
            "description": "html template id (optional)",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "bad input parameters",
            "content": {}
          },
          "401": {
            "description": "unauthorized",
            "content": {}
          },
          "403": {
            "description": "not enough credits",
            "content": {}
          },
          "405": {
            "description": "Timeout error. Input was too large to process in 30 secs, the connection was bad or input file was not available. For links to G Drive, G Docs, Dropbox or similar: they can limit access. To solve put 'cache:' before the link and try again. Also there is PDF.co built-in file storage at https://app.pdf.co/files stable and fast. If you use API directly then try 'async' mode (set 'async' to 'true') so it will create background job. Check the job status with '/job/check?jobId=<jobId>'. For pdf with lot of pages try to specify a page range using 'pages' param (get page count with '/pdf/info' endpoint). If you use Zapier then turn on 'Autoreply' to autoretry.",
            "content": {}
          },
          "408": {
            "description": "Timeout error. Input was too large to process in 30 secs, the connection was bad or input file was not available. For links to G Drive, G Docs, Dropbox or similar: they can limit access. To solve put 'cache:' before the link and try again. Also there is PDF.co built-in file storage at https://app.pdf.co/files stable and fast. If you use API directly then try 'async' mode (set 'async' to 'true') so it will create background job. Check the job status with '/job/check?jobId=<jobId>'. For pdf with lot of pages try to specify a page range using 'pages' param (get page count with '/pdf/info' endpoint). If you use Zapier then turn on 'Autoreply' to autoretry.",
            "content": {}
          }
        }
      },
      "post": {
        "tags": [
          "convert_to_pdf"
        ],
        "description": "Convert HTML code snippet into full featured PDF.",
        "operationId": "post_v1_pdf_convert_from_html",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "async": {
                    "type": "string",
                    "description": "Runs processing asynchronously. Returns Use <code>JobId</code> that you may use with <code>/job/check</code> to check state of the processing (possible states: <code>working</code>, <code>failed</code>, <code>aborted</code> and <code>success</code>)",
                    "enum": [
                      "true",
                      "false",
                      "TRUE",
                      "FALSE"
                    ]
                  },
                  "templatedata": {
                    "type": "string",
                    "description": "please set to string converted from JSON with data for Mustache template or leave empty if no template is used"
                  },
                  "html": {
                    "type": "string",
                    "description": "HTML code."
                  },
                  "name": {
                    "type": "string",
                    "description": "File name for generated output."
                  },
                  "margins": {
                    "type": "string",
                    "description": "Page margins."
                  },
                  "papersize": {
                    "type": "string",
                    "description": "Paper size."
                  },
                  "orientation": {
                    "type": "string",
                    "description": "Page orientation."
                  },
                  "printbackground": {
                    "type": "string",
                    "description": "Defines whether to print background images or not.",
                    "enum": [
                      "true",
                      "false",
                      "TRUE",
                      "FALSE"
                    ]
                  },
                  "header": {
                    "type": "string",
                    "description": "Header template."
                  },
                  "footer": {
                    "type": "string",
                    "description": "Footer template."
                  },
                  "customscript": {
                    "type": "string",
                    "description": "custom script to execute on page load"
                  },
                  "mediatype": {
                    "type": "string"
                  },
                  "donotwaitfullload": {
                    "type": "string",
                    "enum": [
                      "true",
                      "false",
                      "TRUE",
                      "FALSE"
                    ]
                  },
                  "profiles": {
                    "type": "string"
                  },
                  "expiration": {
                    "type": "number",
                    "description": "expiration for output links (if any) in minutes. default expiration is 1 hour."
                  },
                  "templateid": {
                    "type": "number",
                    "description": "html template id (optional)"
                  }
                },
                "additionalProperties": false
              }
            }
          },
          "required": false
        },
        "responses": {
          "400": {
            "description": "bad input parameters",
            "content": {}
          },
          "401": {
            "description": "unauthorized",
            "content": {}
          },
          "403": {
            "description": "not enough credits",
            "content": {}
          },
          "405": {
            "description": "Timeout error. Input was too large to process in 30 secs, the connection was bad or input file was not available. For links to G Drive, G Docs, Dropbox or similar: they can limit access. To solve put 'cache:' before the link and try again. Also there is PDF.co built-in file storage at https://app.pdf.co/files stable and fast. If you use API directly then try 'async' mode (set 'async' to 'true') so it will create background job. Check the job status with '/job/check?jobId=<jobId>'. For pdf with lot of pages try to specify a page range using 'pages' param (get page count with '/pdf/info' endpoint). If you use Zapier then turn on 'Autoreply' to autoretry.",
            "content": {}
          },
          "408": {
            "description": "Timeout error. Input was too large to process in 30 secs, the connection was bad or input file was not available. For links to G Drive, G Docs, Dropbox or similar: they can limit access. To solve put 'cache:' before the link and try again. Also there is PDF.co built-in file storage at https://app.pdf.co/files stable and fast. If you use API directly then try 'async' mode (set 'async' to 'true') so it will create background job. Check the job status with '/job/check?jobId=<jobId>'. For pdf with lot of pages try to specify a page range using 'pages' param (get page count with '/pdf/info' endpoint). If you use Zapier then turn on 'Autoreply' to autoretry.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/v1/pdf/convert/from/image": {
      "get": {
        "tags": [
          "convert_to_pdf"
        ],
        "description": "Create PDF file from one or more JPG, PNG, TIF images.",
        "operationId": "get_v1_pdf_convert_from_image",
        "parameters": [
          {
            "name": "async",
            "in": "query",
            "description": "Runs processing asynchronously. Returns Use <code>JobId</code> that you may use with <code>/job/check</code> to check state of the processing (possible states: <code>working</code>, <code>failed</code>, <code>aborted</code> and <code>success</code>)",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false",
                "true",
                "false",
                "TRUE",
                "FALSE"
              ]
            }
          },
          {
            "name": "file",
            "in": "query",
            "description": "Source PDF file.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "url",
            "in": "query",
            "description": "URL of the source PDF file.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "File name for generated output.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "profiles",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expiration",
            "in": "query",
            "description": "expiration for output links (if any) in minutes. default expiration is 1 hour.",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "httpusername",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "httppassword",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "bad input parameters",
            "content": {}
          },
          "401": {
            "description": "unauthorized",
            "content": {}
          },
          "403": {
            "description": "not enough credits",
            "content": {}
          },
          "405": {
            "description": "Timeout error. Input was too large to process in 30 secs, the connection was bad or input file was not available. For links to G Drive, G Docs, Dropbox or similar: they can limit access. To solve put 'cache:' before the link and try again. Also there is PDF.co built-in file storage at https://app.pdf.co/files stable and fast. If you use API directly then try 'async' mode (set 'async' to 'true') so it will create background job. Check the job status with '/job/check?jobId=<jobId>'. For pdf with lot of pages try to specify a page range using 'pages' param (get page count with '/pdf/info' endpoint). If you use Zapier then turn on 'Autoreply' to autoretry.",
            "content": {}
          },
          "408": {
            "description": "Timeout error. Input was too large to process in 30 secs, the connection was bad or input file was not available. For links to G Drive, G Docs, Dropbox or similar: they can limit access. To solve put 'cache:' before the link and try again. Also there is PDF.co built-in file storage at https://app.pdf.co/files stable and fast. If you use API directly then try 'async' mode (set 'async' to 'true') so it will create background job. Check the job status with '/job/check?jobId=<jobId>'. For pdf with lot of pages try to specify a page range using 'pages' param (get page count with '/pdf/info' endpoint). If you use Zapier then turn on 'Autoreply' to autoretry.",
            "content": {}
          }
        }
      },
      "post": {
        "tags": [
          "convert_to_pdf"
        ],
        "description": "Create PDF file from one or more JPG, PNG, TIF images.",
        "operationId": "post_v1_pdf_convert_from_image",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "async": {
                    "type": "string",
                    "description": "Runs processing asynchronously. Returns Use <code>JobId</code> that you may use with <code>/job/check</code> to check state of the processing (possible states: <code>working</code>, <code>failed</code>, <code>aborted</code> and <code>success</code>)",
                    "enum": [
                      "true",
                      "false",
                      "TRUE",
                      "FALSE"
                    ]
                  },
                  "file": {
                    "type": "string",
                    "description": "Source PDF file."
                  },
                  "url": {
                    "type": "string",
                    "description": "URL of the source PDF file."
                  },
                  "name": {
                    "type": "string",
                    "description": "File name for generated output."
                  },
                  "profiles": {
                    "type": "string"
                  },
                  "expiration": {
                    "type": "number",
                    "description": "expiration for output links (if any) in minutes. default expiration is 1 hour."
                  },
                  "httpusername": {
                    "type": "string"
                  },
                  "httppassword": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          },
          "required": false
        },
        "responses": {
          "400": {
            "description": "bad input parameters",
            "content": {}
          },
          "401": {
            "description": "unauthorized",
            "content": {}
          },
          "403": {
            "description": "not enough credits",
            "content": {}
          },
          "405": {
            "description": "Timeout error. Input was too large to process in 30 secs, the connection was bad or input file was not available. For links to G Drive, G Docs, Dropbox or similar: they can limit access. To solve put 'cache:' before the link and try again. Also there is PDF.co built-in file storage at https://app.pdf.co/files stable and fast. If you use API directly then try 'async' mode (set 'async' to 'true') so it will create background job. Check the job status with '/job/check?jobId=<jobId>'. For pdf with lot of pages try to specify a page range using 'pages' param (get page count with '/pdf/info' endpoint). If you use Zapier then turn on 'Autoreply' to autoretry.",
            "content": {}
          },
          "408": {
            "description": "Timeout error. Input was too large to process in 30 secs, the connection was bad or input file was not available. For links to G Drive, G Docs, Dropbox or similar: they can limit access. To solve put 'cache:' before the link and try again. Also there is PDF.co built-in file storage at https://app.pdf.co/files stable and fast. If you use API directly then try 'async' mode (set 'async' to 'true') so it will create background job. Check the job status with '/job/check?jobId=<jobId>'. For pdf with lot of pages try to specify a page range using 'pages' param (get page count with '/pdf/info' endpoint). If you use Zapier then turn on 'Autoreply' to autoretry.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/v1/pdf/convert/from/url": {
      "get": {
        "tags": [
          "convert_to_pdf"
        ],
        "description": "Create a rich PDF copy of a website by passing URL link to the source.",
        "operationId": "get_v1_pdf_convert_from_url",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "description": "URL of the web page to be saved as PDF document.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "async",
            "in": "query",
            "description": "Runs processing asynchronously. Returns Use <code>JobId</code> that you may use with <code>/job/check</code> to check state of the processing (possible states: <code>working</code>, <code>failed</code>, <code>aborted</code> and <code>success</code>)",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false",
                "true",
                "false",
                "TRUE",
                "FALSE"
              ]
            }
          },
          {
            "name": "templatedata",
            "in": "query",
            "description": "JSON model which will be used for processing HTML template",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "File name for generated output.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "margins",
            "in": "query",
            "description": "Page margins.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "papersize",
            "in": "query",
            "description": "Paper size.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orientation",
            "in": "query",
            "description": "Page orientation.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "printbackground",
            "in": "query",
            "description": "Defines whether to print background images or not.",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false",
                "true",
                "false",
                "TRUE",
                "FALSE"
              ]
            }
          },
          {
            "name": "header",
            "in": "query",
            "description": "Header template.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "footer",
            "in": "query",
            "description": "Footer template.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customscript",
            "in": "query",
            "description": "custom script to execute on page load",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "donotwaitfullload",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false",
                "true",
                "false",
                "TRUE",
                "FALSE"
              ]
            }
          },
          {
            "name": "mediatype",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "profiles",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expiration",
            "in": "query",
            "description": "expiration for output links (if any) in minutes. default expiration is 1 hour.",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "httpusername",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "httppassword",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "bad input parameters",
            "content": {}
          },
          "401": {
            "description": "unauthorized",
            "content": {}
          },
          "403": {
            "description": "not enough credits",
            "content": {}
          },
          "405": {
            "description": "Timeout error. Input was too large to process in 30 secs, the connection was bad or input file was not available. For links to G Drive, G Docs, Dropbox or similar: they can limit access. To solve put 'cache:' before the link and try again. Also there is PDF.co built-in file storage at https://app.pdf.co/files stable and fast. If you use API directly then try 'async' mode (set 'async' to 'true') so it will create background job. Check the job status with '/job/check?jobId=<jobId>'. For pdf with lot of pages try to specify a page range using 'pages' param (get page count with '/pdf/info' endpoint). If you use Zapier then turn on 'Autoreply' to autoretry.",
            "content": {}
          },
          "408": {
            "description": "Timeout error. Input was too large to process in 30 secs, the connection was bad or input file was not available. For links to G Drive, G Docs, Dropbox or similar: they can limit access. To solve put 'cache:' before the link and try again. Also there is PDF.co built-in file storage at https://app.pdf.co/files stable and fast. If you use API directly then try 'async' mode (set 'async' to 'true') so it will create background job. Check the job status with '/job/check?jobId=<jobId>'. For pdf with lot of pages try to specify a page range using 'pages' param (get page count with '/pdf/info' endpoint). If you use Zapier then turn on 'Autoreply' to autoretry.",
            "content": {}
          }
        }
      },
      "post": {
        "tags": [
          "convert_to_pdf"
        ],
        "description": "Create a rich PDF copy of a website by passing URL link to the source.",
        "operationId": "post_v1_pdf_convert_from_url",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "url"
                ],
                "type": "object",
                "properties": {
                  "async": {
                    "type": "string",
                    "description": "Runs processing asynchronously. Returns Use <code>JobId</code> that you may use with <code>/job/check</code> to check state of the processing (possible states: <code>working</code>, <code>failed</code>, <code>aborted</code> and <code>success</code>)",
                    "enum": [
                      "true",
                      "false",
                      "TRUE",
                      "FALSE"
                    ]
                  },
                  "templatedata": {
                    "type": "string",
                    "description": "JSON model which will be used for processing HTML template"
                  },
                  "url": {
                    "type": "string",
                    "description": "URL of the web page to be saved as PDF document."
                  },
                  "name": {
                    "type": "string",
                    "description": "File name for generated output."
                  },
                  "margins": {
                    "type": "string",
                    "description": "Page margins."
                  },
                  "papersize": {
                    "type": "string",
                    "description": "Paper size."
                  },
                  "orientation": {
                    "type": "string",
                    "description": "Page orientation."
                  },
                  "printbackground": {
                    "type": "string",
                    "description": "Defines whether to print background images or not.",
                    "enum": [
                      "true",
                      "false",
                      "TRUE",
                      "FALSE"
                    ]
                  },
                  "header": {
                    "type": "string",
                    "description": "Header template."
                  },
                  "footer": {
                    "type": "string",
                    "description": "Footer template."
                  },
                  "customscript": {
                    "type": "string",
                    "description": "custom script to execute on page load"
                  },
                  "donotwaitfullload": {
                    "type": "string",
                    "enum": [
                      "true",
                      "false",
                      "TRUE",
                      "FALSE"
                    ]
                  },
                  "mediatype": {
                    "type": "string"
                  },
                  "profiles": {
                    "type": "string"
                  },
                  "expiration": {
                    "type": "number",
                    "description": "expiration for output links (if any) in minutes. default expiration is 1 hour."
                  },
                  "httpusername": {
                    "type": "string"
                  },
                  "httppassword": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          },
          "required": false
        },
        "responses": {
          "400": {
            "description": "bad input parameters",
            "content": {}
          },
          "401": {
            "description": "unauthorized",
            "content": {}
          },
          "403": {
            "description": "not enough credits",
            "content": {}
          },
          "405": {
            "description": "Timeout error. Input was too large to process in 30 secs, the connection was bad or input file was not available. For links to G Drive, G Docs, Dropbox or similar: they can limit access. To solve put 'cache:' before the link and try again. Also there is PDF.co built-in file storage at https://app.pdf.co/files stable and fast. If you use API directly then try 'async' mode (set 'async' to 'true') so it will create background job. Check the job status with '/job/check?jobId=<jobId>'. For pdf with lot of pages try to specify a page range using 'pages' param (get page count with '/pdf/info' endpoint). If you use Zapier then turn on 'Autoreply' to autoretry.",
            "content": {}
          },
          "408": {
            "description": "Timeout error. Input was too large to process in 30 secs, the connection was bad or input file was not available. For links to G Drive, G Docs, Dropbox or similar: they can limit access. To solve put 'cache:' before the link and try again. Also there is PDF.co built-in file storage at https://app.pdf.co/files stable and fast. If you use API directly then try 'async' mode (set 'async' to 'true') so it will create background job. Check the job status with '/job/check?jobId=<jobId>'. For pdf with lot of pages try to specify a page range using 'pages' param (get page count with '/pdf/info' endpoint). If you use Zapier then turn on 'Autoreply' to autoretry.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/v1/pdf/convert/from/email": {
      "get": {
        "tags": [
          "convert_to_pdf"
        ],
        "description": "Create a rich PDF copy of a website by passing URL link to the source.",
        "operationId": "get_v1_pdf_convert_from_email",
        "parameters": [
          {
            "name": "async",
            "in": "query",
            "description": "Runs processing asynchronously. Returns Use <code>JobId</code> that you may use with <code>/job/check</code> to check state of the processing (possible states: <code>working</code>, <code>failed</code>, <code>aborted</code> and <code>success</code>)",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false",
                "true",
                "false",
                "TRUE",
                "FALSE"
              ]
            }
          },
          {
            "name": "url",
            "in": "query",
            "description": "URL of the web page to be saved as PDF document.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "File name for generated output.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "margins",
            "in": "query",
            "description": "Page margins.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "papersize",
            "in": "query",
            "description": "Paper size.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orientation",
            "in": "query",
            "description": "Page orientation.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "header",
            "in": "query",
            "description": "Header template.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "footer",
            "in": "query",
            "description": "Footer template.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "embedattachments",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false",
                "true",
                "false",
                "TRUE",
                "FALSE"
              ]
            }
          },
          {
            "name": "convertattachments",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false",
                "true",
                "false",
                "TRUE",
                "FALSE"
              ]
            }
          },
          {
            "name": "file",
            "in": "query",
            "description": "Source PDF file.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "profiles",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expiration",
            "in": "query",
            "description": "expiration for output links (if any) in minutes. default expiration is 1 hour.",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "httpusername",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "httppassword",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "bad input parameters",
            "content": {}
          },
          "401": {
            "description": "unauthorized",
            "content": {}
          },
          "403": {
            "description": "not enough credits",
            "content": {}
          },
          "405": {
            "description": "Timeout error. Input was too large to process in 30 secs, the connection was bad or input file was not available. For links to G Drive, G Docs, Dropbox or similar: they can limit access. To solve put 'cache:' before the link and try again. Also there is PDF.co built-in file storage at https://app.pdf.co/files stable and fast. If you use API directly then try 'async' mode (set 'async' to 'true') so it will create background job. Check the job status with '/job/check?jobId=<jobId>'. For pdf with lot of pages try to specify a page range using 'pages' param (get page count with '/pdf/info' endpoint). If you use Zapier then turn on 'Autoreply' to autoretry.",
            "content": {}
          },
          "408": {
            "description": "Timeout error. Input was too large to process in 30 secs, the connection was bad or input file was not available. For links to G Drive, G Docs, Dropbox or similar: they can limit access. To solve put 'cache:' before the link and try again. Also there is PDF.co built-in file storage at https://app.pdf.co/files stable and fast. If you use API directly then try 'async' mode (set 'async' to 'true') so it will create background job. Check the job status with '/job/check?jobId=<jobId>'. For pdf with lot of pages try to specify a page range using 'pages' param (get page count with '/pdf/info' endpoint). If you use Zapier then turn on 'Autoreply' to autoretry.",
            "content": {}
          }
        }
      },
      "post": {
        "tags": [
          "convert_to_pdf"
        ],
        "description": "Create a rich PDF copy of a website by passing URL link to the source.",
        "operationId": "post_v1_pdf_convert_from_email",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "async": {
                    "type": "string",
                    "description": "Runs processing asynchronously. Returns Use <code>JobId</code> that you may use with <code>/job/check</code> to check state of the processing (possible states: <code>working</code>, <code>failed</code>, <code>aborted</code> and <code>success</code>)",
                    "enum": [
                      "true",
                      "false",
                      "TRUE",
                      "FALSE"
                    ]
                  },
                  "url": {
                    "type": "string",
                    "description": "URL of the web page to be saved as PDF document."
                  },
                  "name": {
                    "type": "string",
                    "description": "File name for generated output."
                  },
                  "margins": {
                    "type": "string",
                    "description": "Page margins."
                  },
                  "papersize": {
                    "type": "string",
                    "description": "Paper size."
                  },
                  "orientation": {
                    "type": "string",
                    "description": "Page orientation."
                  },
                  "header": {
                    "type": "string",
                    "description": "Header template."
                  },
                  "footer": {
                    "type": "string",
                    "description": "Footer template."
                  },
                  "embedattachments": {
                    "type": "string",
                    "enum": [
                      "true",
                      "false",
                      "TRUE",
                      "FALSE"
                    ]
                  },
                  "convertattachments": {
                    "type": "string",
                    "enum": [
                      "true",
                      "false",
                      "TRUE",
                      "FALSE"
                    ]
                  },
                  "file": {
                    "type": "string",
                    "description": "Source PDF file."
                  },
                  "profiles": {
                    "type": "string"
                  },
                  "expiration": {
                    "type": "number",
                    "description": "expiration for output links (if any) in minutes. default expiration is 1 hour."
                  },
                  "httpusername": {
                    "type": "string"
                  },
                  "httppassword": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          },
          "required": false
        },
        "responses": {
          "400": {
            "description": "bad input parameters",
            "content": {}
          },
          "401": {
            "description": "unauthorized",
            "content": {}
          },
          "403": {
            "description": "not enough credits",
            "content": {}
          },
          "405": {
            "description": "Timeout error. Input was too large to process in 30 secs, the connection was bad or input file was not available. For links to G Drive, G Docs, Dropbox or similar: they can limit access. To solve put 'cache:' before the link and try again. Also there is PDF.co built-in file storage at https://app.pdf.co/files stable and fast. If you use API directly then try 'async' mode (set 'async' to 'true') so it will create background job. Check the job status with '/job/check?jobId=<jobId>'. For pdf with lot of pages try to specify a page range using 'pages' param (get page count with '/pdf/info' endpoint). If you use Zapier then turn on 'Autoreply' to autoretry.",
            "content": {}
          },
          "408": {
            "description": "Timeout error. Input was too large to process in 30 secs, the connection was bad or input file was not available. For links to G Drive, G Docs, Dropbox or similar: they can limit access. To solve put 'cache:' before the link and try again. Also there is PDF.co built-in file storage at https://app.pdf.co/files stable and fast. If you use API directly then try 'async' mode (set 'async' to 'true') so it will create background job. Check the job status with '/job/check?jobId=<jobId>'. For pdf with lot of pages try to specify a page range using 'pages' param (get page count with '/pdf/info' endpoint). If you use Zapier then turn on 'Autoreply' to autoretry.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/v1/data/store": {
      "get": {
        "tags": [
          "data_store"
        ],
        "operationId": "get_v1_data_store",
        "parameters": [
          {
            "name": "jobid",
            "in": "query",
            "description": "Id of processing that was started asynchronously",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {}
          }
        }
      },
      "post": {
        "tags": [
          "data_store"
        ],
        "operationId": "post_v1_data_store",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "body",
                  "jobid"
                ],
                "type": "object",
                "properties": {
                  "jobid": {
                    "type": "string",
                    "description": "Id of processing that was started asynchronously"
                  },
                  "body": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Data to be stored"
                  }
                },
                "additionalProperties": false
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "body"
      },
      "delete": {
        "tags": [
          "data_store"
        ],
        "operationId": "delete_v1_data_store",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "jobid"
                ],
                "type": "object",
                "properties": {
                  "jobid": {
                    "type": "string",
                    "description": "Id of processing that was started asynchronously"
                  }
                },
                "additionalProperties": false
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/v1/data/store/webhook": {
      "post": {
        "tags": [
          "data_store"
        ],
        "operationId": "post_v1_data_store_webhook",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "jobid"
                ],
                "type": "object",
                "properties": {
                  "jobid": {
                    "type": "string",
                    "description": "Id of processing that was started asynchronously"
                  }
                },
                "additionalProperties": false
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/v1/pdf/documentparser": {
      "get": {
        "tags": [
          "document_parser_api"
        ],
        "description": "Parses and gets data from document using previously prepared template",
        "operationId": "get_v1_pdf_documentparser",
        "parameters": [
          {
            "name": "inline",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false",
                "true",
                "false",
                "TRUE",
                "FALSE"
              ]
            }
          },
          {
            "name": "file",
            "in": "query",
            "description": "Source PDF file.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "url",
            "in": "query",
            "description": "URL of the source PDF file.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "File name for generated output.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pages",
            "in": "query",
[...]
